<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alomtest"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".food.SharedPreferenceUtils"
            android:exported="false"
            android:label="@string/title_activity_shared_preference_utils"
            android:theme="@style/Theme.Alomtest" />
        <activity
            android:name=".food.UserFoodClass"
            android:exported="false" />
        <activity
            android:name=".food.Food_dialog"
            android:exported="false" />
        <activity
            android:name=".FindpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MyApplication"
            android:exported="false" />
        <activity
            android:name=".PreferenceUtil"
            android:exported="false" />
        <activity
            android:name=".food.AddActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".account"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>